<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>nav</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="container">
                <div class="nav-content">
                    <div class="logo">
                        <h1>YUNG<span>GALLERY</span></h1>
                    </div>
                    <ul class="nav-menu">
                        <li><a href="/" data-page="home">HOME</a></li>
                        <li>
                            <a href="/html/about.html" data-page="about"
                                >ABOUT</a
                            >
                        </li>
                        <li>
                            <a href="/html/shop.html" data-page="shop">SHOP</a>
                        </li>
                        <li>
                            <a href="#contact" data-page="contact">CONTACT</a>
                        </li>
                    </ul>
                    <div class="nav-icons">
                        <div class="search-box">
                            <input type="text" placeholder="Search..." />
                            <i class="fas fa-search"></i>
                        </div>
                        <i class="fas fa-user"></i>
                        <a href="/html/product_likes.html">
                            <i class="fas fa-heart"></i>
                        </a>
                        <a href="/html/cart.html">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>
